:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 

TODO
-separate css into different files
-create page navigation for product list page
-create proper css for site logo
-update footer

*/

/* Top Navigation bar */

#title {
  font-size: 3em;
  text-align: left;
}

#titleLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  justify-items: left;
  & > * {
    margin: 10px;
  };
}

#topNavigation {
  display: flex;
  justify-content: left;
  justify-items: center;
  align-items: baseline;
  gap: 1em;
  width: 100%;
  background-color: rgb(30, 30, 30);
  margin-bottom: 2em;
  & > h1 {
    margin: 10px;
  }
  & > h2 {
    text-align: center;
  }
  & > * > a:hover {
      cursor: pointer;
      text-decoration: underline;
  }
}

#navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1em;
  margin: 10px;
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  gap: 1em;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

/* Mobile Layout */

@media (max-width: 768px) {
  #topNavigation {
    flex-direction: column;
  }
  #navLinks {
    margin-bottom: 20px;
  }
  #footer {
    flex-direction: row;
    font-size: 12px;
  }
}


/* Home Page */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin: 3em;
}

/* Product List Page */

h1 {
  text-align: center;
  margin: 1em;
}

#productDisplayList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  flex-wrap: wrap;
  height: auto;
  margin: 2em;
  margin-bottom: 5em;
  height: 100%;
}

#productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  justify-items: center;
  max-width: 45vw;
  min-width: 35vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  margin: 1em;
  padding: 3em;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: white;
  background-color: rgb(28, 28, 28);
  & > a {
    transition: all 0.3s;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 1em;
    &:hover {
      border-color: white
    }
  }
}

#productName {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2vw;
}

#priceDisplay {
  font-size: 2vw;
}

@media (max-width: 768px) {
  #productName {
    font-size: 3vw;
  }

  #productDisplay {
    max-width: 70%;
    max-height: 30%;
  }

  #productDisplayList {
    flex-direction: row;
    & > a {
      height: 10px;
    }
  }
}

#priceDisplay {
  margin-bottom: 10px;
  font-size: 3em;
}

/* Product Detail Page*/

#productView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 3em;
  margin-bottom: 7em;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-right-style: none;
  border-left-style: none;
  & > div {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: baseline;
    justify-items: center;
  }
  & > p {
    margin-bottom: 2em;
  }
  
}

button {
    margin-top: 2em;
    padding: 1em;
    background-color: rgb(28, 28, 28);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    color: white;
    font-size: 1.5em;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: rgb(28, 28, 28);
      border-color: rgb(28, 28, 28);
    }
  }

  @media (max-width: 768px) {
    #productView {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: auto;
    }
    #productView > div {
      margin: 0;
      margin-bottom: 2em;
    }
    #productView > p {
      margin: 0;
    }
}

/* Invoice Page */

#invoiceForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: auto;
  margin: 3em;
  & > h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  & > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    & > * {
      margin-bottom: 1em;
    }
  }
}